@CHARSET "ISO-8859-1";
form {
		position : absolute;
		top : 40%;
		left : 50%;
		transform : translate(-50%,-50%);
		padding : 10px;
	}
	input[type="submit"] {
		position : absolute;
		left : 50%;
		transform : translate(-50%);
	}
	input[type="text"],input[type="password"] {
		border: 1px solid black;
	}
	input {
		margin : 3px;
	}
	p {
		margin :3px;
		position :absolute;
		top: 120%;
		left : 50%;
		transform: translate(-50%);
	}